{% extends "dashboard.html" %}

{% block content %}
	  <div class="container">
	  	<div class="col-sm-4">
			<p class="lead">Crear Nuevo</p>
		
			<form class="form" action="{% url 'dashboard'%}" method="post">
				{% csrf_token %}
			  
				{{form.as_p}}
			  
			  
			  <button type="submit" class="btn btn-primary">Crear</button>
			</form>
		
		
		</div>
	  </div>
	  
	  <div class="container diario">
		  <div class="col-sm-12">
  			<p class="lead text-muted">Hoy: {{fecha_de_hoy}}, Total: <span class="text-info">{{total}}</span></p>
			  
		  {% if cosas %}
		  
		  <div class="table-responsive">
		    <table class="table table-striped">
		      <tr>
				  <th>Cantidad</th> <th>Categoria</th> <th>Fecha</th> <th>Comentario</th> <th>Borrar</th>
              </tr>
		  
		      {% for cosa in cosas %}
			  <tr>
			  
			  	<td>{{cosa.cantidad}}</td> 
				<td>{{cosa.categoria}}</td> 
				<td>{{cosa.fecha|date:"D d M Y P"}}</td> 
				
				{% if cosa.comentario == "" %} 
				
				<td class="ninguno">Ninguno</td>
				
				{% else %}
				
				<td>{{cosa.comentario}}</td>
				
				{% endif %}
				
				<td>
					<form action="{% url 'delete_cosa' %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="id" value="{{cosa.id}}">
						<button type="submit"><i class="fa fa-times"></i></button>
					</form>
				
				
				</td>
			  
			  
			  </tr>
			  {% endfor %}
		    
			</table>
		  </div>
		  
		  {% else %}
		  
		  <p>No se encontro nada</p>
		  
		  {% endif %}
		 </div>
	  </div>
{% endblock %}